<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardMapper">
    <select id="now" resultType="String">
        SELECT NOW()
        FROM DUAL;
    </select>

    <insert id="boardWrite" parameterType="com.example.board.vo.BoardVO">
        INSERT INTO BOARD(TITLE, CONTENT, WRITER, REGDATE)
        VALUES ( #{title}
               , #{content}
               , #{writer}
               , NOW())
    </insert>

    <select id="getBoardCount" resultType="int">
        SELECT count(*)
        FROM BOARD
    </select>

<!--    <select id="getBoardList" resultType="com.example.board.vo.BoardVO">-->
<!--        SELECT *-->
<!--        FROM BOARD LIMIT #{startList}, #{listSize}-->
<!--    </select>-->

    <select id="getListWithPaging" resultType="com.example.board.vo.BoardVO">
        <![CDATA[
        SELECT NO, TITLE, CONTENT, WRITER, REGDATE, VIEWNO
            FROM (
                SELECT @ROWNUM := @ROWNUM + 1 AS RNUM, NO, TITLE, CONTENT, WRITER, REGDATE, VIEWNO
                FROM BOARD, (SELECT @ROWNUM :=0) A
                ORDER BY NO
                ) B
                WHERE RNUM > (#{pageNum} - 1) * #{amount}
                LIMIT #{amount}
        ]]>

    </select>
</mapper>