<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardMapper">
    <select id="now" resultType="String">
        SELECT NOW()
        FROM DUAL;
    </select>

    <insert id="boardWrite" parameterType="com.example.board.vo.BoardVO">
        INSERT INTO BOARD(TITLE, CONTENT, WRITER, REGDATE)
        VALUES ( #{title}
               , #{content}
               , #{writer}
               , NOW())
    </insert>

    <select id="getBoardCount" resultType="int">
        SELECT count(*)
        FROM BOARD
    </select>

    <!--    <select id="getBoardList" resultType="com.example.board.vo.BoardVO">-->
    <!--        SELECT *-->
    <!--        FROM BOARD LIMIT #{startList}, #{listSize}-->
    <!--    </select>-->

    <select id="getListWithPaging" resultType="com.example.board.vo.BoardVO">
        <![CDATA[
        SELECT NO, TITLE, CONTENT, WRITER, REGDATE, VIEWNO
        FROM (
            SELECT @ROWNUM := @ROWNUM + 1 AS RNUM, NO, TITLE, CONTENT, WRITER, REGDATE, VIEWNO
            FROM BOARD, (SELECT @ROWNUM := 0) A
            ORDER BY NO
            ) B
        WHERE RNUM
            > (#{pageNum} - 1) * #{amount}
            LIMIT #{amount}
        ]]>

    </select>

    <select id="getDetailBoard" resultType="com.example.board.vo.BoardVO">
        SELECT *
        FROM BOARD
        WHERE NO = #{no}
    </select>

    <update id="boardModify" parameterType="com.example.board.vo.BoardVO">
        UPDATE BOARD
        SET TITLE   = #{title},
            CONTENT = #{content}
        WHERE NO = #{no}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE
        FROM BOARD
        WHERE NO = #{no}
    </delete>

    <!--    <select id="userLogin" resultType="com.example.board.vo.UserVO">-->
    <!--        SELECT ID, PASSWORD-->
    <!--        FROM USER-->
    <!--        WHERE ID = #{id}-->
    <!--          AND PASSWORD = #{password}-->

    <!--    </select>-->

    <insert id="createUser" parameterType="com.example.board.vo.UserVO">
        INSERT INTO USER(ID, PASSWORD, NAME, REGDATE, ROLE)
        VALUES (#{id}, #{password}, #{name}, NOW(), #{role})
    </insert>

    <select id="idCheck" parameterType="String" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM USER
        WHERE ID = #{id}
    </select>

    <select id="findById" resultType="com.example.board.vo.UserVO">
        SELECT *
        FROM USER
        WHERE ID = #{id}
    </select>

    <update id="viewNoUp" parameterType="int">
        UPDATE BOARD
        SET VIEWNO = VIEWNO + 1
        WHERE NO = #{no}
    </update>

    <insert id="insertFiles" parameterType="com.example.board.vo.FileVO">
        INSERT INTO FILE(BNO, FILENAME, ORIGINAL_FILENAME, UPLOAD_PATH, FILESIZE, FILETYPE, CREATEDATE, CREATEUSER)
        VALUES (#{bno}, #{filename}, #{original_filename}, #{upload_path}, #{filesize}, #{filetype}, now(),
                #{createuser})
    </insert>

    <select id="getBoardNo" resultType="int">
        SELECT MAX(NO) + 1
        FROM BOARD
    </select>

    <resultMap type="com.example.board.vo.FileVO" id="fileVO">
        <result property="fno" column="fno"/>
        <result property="bno" column="bno"/>
        <result property="filename" column="filename"/>
        <result property="original_filename" column="original_filename"/>
        <result property="upload_path" column="upload_path"/>
        <result property="filesize" column="filesize"/>
        <result property="filetype" column="filetype"/>
        <result property="createdate" column="createdate"/>
        <result property="createuser" column="createuser"/>
    </resultMap>

    <select id="getFileList" parameterType="int" resultMap="fileVO">
        SELECT *
        FROM FILE
        WHERE BNO = #{bno}
    </select>

    <select id="getUserList" resultType="com.example.board.vo.UserVO">
        SELECT *
        FROM USER
        WHERE ROLE NOT IN ('ROLE_ADMIN')
    </select>

    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM USER
        WHERE ID = #{id}
    </delete>
</mapper>