.textColor { color : red}

* {
    margin: 0;
    padding: 0
}
body {
    font: 0.75em "맑은 고딕", 돋움, 굴림;
    text-align: center
}
ul, ol {
    list-style-type: none
}
/* header */
div#header	h1 {
    height: 70px;
    line-height: 70px;
    margin: 0;
    padding-left: 10px;
    color: #79B30B
}

div#header	ul {
    height: 20px;
    margin: 0 20px 10px 0
}

div#header	li {
    float: right
}

div#header	li a {
    color: #4F4F4F;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}
